body {
  margin:0;
  font:400 13.3333px Arial;
}

h1 {
  margin-bottom: .5rem;
}

.input {
  border: 1px solid #333;
  border-radius: .2em;
  padding: .5rem;
}

select {
  margin-left: .5rem;
  padding: .4rem;
  width: 5rem;

}

.equals {
  font-weight: bold;
  font-size: 2rem;
  padding-right: 2.5rem;
}

.app {
  font-size: 1.2em;
  height: 100vh;
  text-align: center;
  padding-top: 2rem;
}

.app.dark {
  background: #000;
  color: #efefef;
}

.app.dark select {
  background: #2e2e2e;
  color: #efefef;
}

.converter-container {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.currency {
  padding-left: 1rem;
  font-weight: bold;
}

.header {
  margin-bottom:1rem;
}