body {
  margin:0;
}

h1 {
  margin-bottom: .5rem;
}

.input {
  border: 1px solid #333;
  border-radius: .2em;
  padding: .5rem;
}

select {
  margin-left: .5rem;
  padding: .4rem;
  width: 5rem;

}

.equals {
  font-weight: bold;
  font-size: 2rem;
}

.app {
  font-size: 1.2em;
  height: 100vh;
  padding-top: 10rem;
  text-align: center;
}

.app.dark {
  background: #000;
  color: #efefef;
}

.app.dark select {
  background: #2e2e2e;
  color: #efefef;
}